@import "./reset.css";


body{
    font-family: 'DM Sans', sans-serif;
font-family: 'Poppins', sans-serif;
border-color: aqua;
}


.container{
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    justify-content: space-between;
    align-items: center;
    
}

.nav{
    background-color: #191919;
    color: white;
    padding: 25px 0;
    text-decoration: none;
    list-style-type: none;
    border-bottom: 1px solid #d9d9d9;
}

.nav-list{
   display: flex;
   gap: 40px;
}

.nav-list-item{
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
}

.nav-list-link{
    color: white;
    align-items: center;
}

.nav-list-link:hover{
    color: rgb(151, 151, 151);
    transition: opacity 1s ease-in-out;
}



.logo{
    color: white;
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
}







.header{
    background-color: #191919;
    height: 889px;
    background-size: 100%;
    color: white;

}

.blocks{
    display: flex;
    text-align: center;
    gap: 200px;
    margin: 0 auto;
    margin-top: 27%;
    
}


.name1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 52px;
    padding-bottom: 30px;
}

.name2{
    padding-bottom: 30px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 52px;
}

.text1{
    font-family: 'DM Sans', sans-serif;
    font-size: 24px;
    padding-bottom: 20px;   
}

.text2{
    font-family: 'DM Sans', sans-serif;
    font-size: 24px;
    padding-bottom: 20px;
}


.links{
   color: rgb(122, 121, 121);
   padding-right: 15px;
}

.links:hover{
    color: #ffffff;
}


.end{
    padding-top: 15%;
    padding-left: 47.5%;
}
